<div class="trip-item p-shadow-10">
  <div class="trip-item__rows">
    <div class="trip-item__row">
      <div>from: {{travel.from.place}}</div>
      <div>destination: {{travel.to.place}}</div>
    </div>
    <div class="trip-item__row">
      <div>ticket: {{travel.ticket.type}}</div>
      <div>wallet: {{travel.wallet.established}}</div>
      <div>tours: {{travel.tours.length}}</div>
      <div>lodging: {{travel.lodging.name}}</div>
    </div>

  </div>

<div class="trip-item__actions">
  <button pButton pRipple type="button" label="Detail" class="p-button-text"></button>

</div>

</div>
